node_modules
dist
dist-*
.vscode
.idea
.DS_Store
.schema
.cache
.nx
*.log
*.log.yml
report.*.json
.history

/dev.config.mjs
/dev-settings.yaml
/dev-https.key
/dev-https.cert

/apps/*/storyboard.yaml
/apps/*/dist
/apps/*/dist-artifact
/apps/*/.install-result.json

/bricks/*/.pkgbuild/
/bricks/*/deploy/

/deploy.txt
/bootstrap.*.json

.turbo
